*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    margin: 10px auto;
    width: fit-content;
    font-size: 40px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    font-size: 40px;
}
.switch-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
.switch{
    width: 200px;
    height: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 30px;
}